﻿@{
    ViewData["Title"] = "Home Page";
}
<form id="form-input" method="post" asp-asp-controller="Home" asp-action="SaveData">
    <div id="simulasiBiayaImpor">

        <div class="mb-3">
            <label class="form-label">Kode barang</label>
            <input type="text" class="form-control" maxlength="8" id="idKodeBarang" name="KodeBarang">
        </div>

        <div class="mb-3">
            <label class="form-label">Nilai Komoditas</label>
            <input type="number" class="form-control" id="nilaiKomoditas" name="NilaiKomoditas">
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script>


</script>